---
---

<section id="about" class="scroll-mt-16">
    <div class="mx-auto mb-8">
        <div class="bg-[#2A2525] rounded-2xl p-4 lg:p-8 shadow-xl">
            <h2 class="text-3xl lg:text-4xl font-extrabold bg-gradient-to-r from-gray-400 to-gray-300 bg-clip-text text-transparent mb-4 text-center">
                Ласкаво просимо до El Clinic Dental
            </h2>

            <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
                <div class="lg:w-1/2">
                    <img
                            src="./vhod_c.jpg"
                            alt="Інтер'єр клініки"
                            class="w-full h-auto rounded-xl shadow-xl object-cover"
                            width="800"
                            height="600"
                    >
                </div>

                <div class="lg:w-1/2 space-y-6 text-left">
                    <p class="text-lg text-gray-300 leading-relaxed">
                        Наша клініка пропонує повний спектр стоматологічних послуг для всієї родини.
                        Використовуючи європейські стандарти та сучасне обладнання, ми гарантуємо:
                    </p>
                    <ul class="space-y-4">
                        <li class="flex items-start gap-4">
                            <div class="w-6 h-6 bg-gray-500 rounded-full flex-shrink-0 flex items-center justify-center">
                                <span class="text-white text-sm">✓</span>
                            </div>
                            <span class="text-gray-400">Безболісне лікування</span>
                        </li>
                        <li class="flex items-start gap-4">
                            <div class="w-6 h-6 bg-gray-500 rounded-full flex-shrink-0 flex items-center justify-center">
                                <span class="text-white text-sm">✓</span>
                            </div>
                            <span class="text-gray-400">Сучасне обладнання</span>
                        </li>
                        <li class="flex items-start gap-4">
                            <div class="w-6 h-6 bg-gray-500 rounded-full flex-shrink-0 flex items-center justify-center">
                                <span class="text-white text-sm">✓</span>
                            </div>
                            <span class="text-gray-400">Індивідуальний підхід</span>
                        </li>
                    </ul>
                    <div class="mt-8">
                        <button
                                data-modal-toggle
                                class="bg-gradient-to-r from-gray-600 to-gray-500 hover:from-gray-500 hover:to-gray-400 px-4 py-2 rounded-lg font-bold shadow-lg transform transition-all hover:scale-105 text-[#201C1C]">
                            🦷 Записатись на консультацію
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>