<section id="doctors" class="scroll-mt-16 bg-[#201C1C]">
    <div class="mx-auto bg-[#2A2525] rounded-2xl p-6 lg:p-10 shadow-xl mb-8">
        <div class="">
            <h2 class="text-3xl font-bold text-center mb-8 text-white">Наші лікарі</h2>

            <!-- Doctors Grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Doctor 1 -->
                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./Elena_c1.jpg"
                                alt="Стоматолог-ортопед Олена Петренко"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Олена Петренко</h3>
                    <p class="text-gray-300 text-lg">Стоматолог-ортопед</p>
                </div>

                <!-- Doctor 2 -->
                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./doctor1_c1.jpg"
                                alt="Стоматолог-хірург Іван Сидоров"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Іван Сидоров</h3>
                    <p class="text-gray-300 text-lg">Стоматолог-хірург</p>
                </div>
                <h2 class="text-3xl font-bold text-center mb-8 text-white justify-center flex md:col-start-1 md:col-end-3">Адміністратор</h2>
                <!-- Administrator -->
                <div class="md:col-start-1 md:col-end-3 flex justify-center"> <!-- Занимает всю ширину ряда -->

                    <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl w-full md:w-1/2 max-w-2xl"> <!-- Половина ширины -->
                        <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                            <img
                                    src="./admin_c1.jpg"
                                    alt="Адміністратор Марія Іванова"
                                    class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                    width="800"
                                    height="800"
                            >
                        </div>
                        <h3 class="text-2xl font-semibold text-white mb-1">Марія Іванова</h3>
                        <p class="text-gray-300 text-xl">Адміністратор</p>
                    </div>
                </div>
                <h2 class="text-3xl font-bold text-center mb-8 text-white justify-center flex md:col-start-1 md:col-end-3">Асистенти стоматолога</h2>
                <!-- Assistants -->
                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./asistent_c1.jpg"
                                alt="Асистент стоматолога Анна Коваль"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Анна Коваль</h3>
                    <p class="text-gray-300 text-lg">Асистент стоматолога</p>
                </div>

                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./assisent1_c1.jpg"
                                alt="Асистент стоматолога Олексій Петров"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Олексій Петров</h3>
                    <p class="text-gray-300 text-lg">Асистент стоматолога</p>
                </div>
            </div>
        </div>
    </div>
</section>