<section id="doctors" class="scroll-mt-16 bg-[#201C1C]">
    <div class="mx-auto bg-[#2A2525] rounded-2xl p-6 lg:p-10 shadow-xl mb-8">
        <div class="">
            <h2 class="text-3xl font-bold text-center mb-8 text-white">Наші лікарі</h2>

            <!-- Doctors Grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Doctor 1 -->
                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./Elena_c1.jpg"
                                alt="Головний лікар Лещенко Олена Миколаївна"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Лещенко Олена Миколаївна</h3>
                    <p class="text-gray-400 mt-2 text-sm">Стаж роботи - 21 рік</p>
                    <p class="text-gray-300 text-lg px-6">Засновниця клініки, Головний лікар, лікар-стоматолог, терапевт, ортопед, хірург</p>
                </div>

                <!-- Doctor 2 -->
                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./doctor1_c1.jpg"
                                alt="Лікар-терапевт Сіваков Денис Миколайович"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Сіваков Денис Миколайович</h3>
                    <p class="text-gray-400 mt-2 text-sm">Стаж роботи - 8 років</p>
                    <p class="text-gray-300 text-lg">Лікар-терапевт, ортопед, ендодонтист</p>
                </div>
                <h2 class="text-3xl font-bold text-center mb-8 text-white justify-center flex md:col-start-1 md:col-end-3">Адміністратор</h2>
                <!-- Administrator -->
                <div class="md:col-start-1 md:col-end-3 flex justify-center"> <!-- Занимает всю ширину ряда -->

                    <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl w-full md:w-1/2 max-w-2xl"> <!-- Половина ширины -->
                        <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                            <img
                                    src="./admin_c1.jpg"
                                    alt="Адміністратор Наталія"
                                    class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                    width="800"
                                    height="800"
                            >
                        </div>
                        <h3 class="text-2xl font-semibold text-white mb-1">Наталія</h3>
                        <p class="text-gray-300 text-xl">Адміністратор</p>
                    </div>
                </div>
                <h2 class="text-3xl font-bold text-center mb-8 text-white justify-center flex md:col-start-1 md:col-end-3">Асистенти стоматолога</h2>
                <!-- Assistants -->
                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./asistent_c1.jpg"
                                alt="Асистент стоматолога Катерина"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Катерина</h3>
                    <p class="text-gray-300 text-lg">Асистент стоматолога</p>
                </div>

                <div class="group bg-[#2A2525] rounded-xl p-6 text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="relative w-160 h-160 mx-auto mb-4 overflow-hidden">
                        <img
                                src="./assisent1_c1.jpg"
                                alt="Асистент стоматолога Ярослав"
                                class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
                                width="600"
                                height="600"
                        >
                    </div>
                    <h3 class="text-xl font-semibold text-white mb-1">Ярослав</h3>
                    <p class="text-gray-300 text-lg">Асистент стоматолога</p>
                </div>
            </div>
        </div>
    </div>
</section>