---
// components/Hero.astro
---

<section class="text-justify py-8">
    <h1 class="text-4xl font-extrabold bg-gradient-to-r from-gray-400 to-gray-300 bg-clip-text text-transparent mb-4 text-center">
        El Clinic Dental - сучасна стоматологічна клініка в Запоріжжі
    </h1>
    <p class="text-lg lg:text-xl bg-gradient-to-r from-gray-400 to-gray-300 bg-clip-text text-transparent">
        Інноваційні технології лікування та профілактики захворювань зубів у самому центрі Запоріжжя
    </p>
    <p class="text-lg lg:text-xl bg-gradient-to-r from-gray-400 to-gray-300 bg-clip-text text-transparent mt-4">
        Наша клініка пропонує повний спектр стоматологічних послуг, щоб забезпечити вашій посмішці бездоганний та здоровий вигляд.
        Ми спеціалізуємося на високотехнологічних методах лікування зубів європейського стандарту,
        і використовуємо найсучасніше обладнання для якісного та безболісного лікування та протезування зубів.
    </p>
</section>