---
const services = [
    { icon: "🦷", title: "Лікування карієсу", description: "Сучасні пломбувальні матеріали" },
    { icon: "🪥", title: "Лікування кореневих каналів", description: "Сучасні методи лікування" },
    { icon: "🦷", title: "Керамічні реставраціі", description: "Високоякісні матеріали" },
    { icon: "👑", title: "Цирконієві коронки", description: "Надійні та естетичні" },
    { icon: "🦷", title: "Металокерамічні коронки", description: "Довговічні та міцні" },
    { icon: "🦷", title: "Встановлення брекетів", description: "Сучасні системи" },
    { icon: "💤", title: "Лікування зубів уві сні", description: "Безболісне лікування" },
    { icon: "🦷", title: "Видалення зубів", description: "Професійне видалення" },
    { icon: "🦷", title: "Імплантація", description: "Сучасні імпланти" },
    { icon: "🧒", title: "Дитяча стоматологія", description: "Турбота про дітей" },
    { icon: "🦷", title: "Вініри", description: "Естетичні реставрації" },
    { icon: "🦷", title: "Ортодонтія", description: "Виправлення прикусу" },
];
---

<section id="services" class="scroll-mt-16">
    <div class="mx-auto bg-[#2A2525] rounded-2xl p-2 lg:p-8 shadow-xl mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-4">
            {services.map(service => (
                    <div class="group bg-gradient-to-b from-[#363232] to-[#2A2525] p-4 rounded-xl hover:-translate-y-2 transition-all duration-300 shadow-lg">
                        <div class="w-12 h-12 bg-gray-500 rounded-lg mb-3 flex items-center justify-center">
                            <span class="text-white text-2xl">{service.icon}</span>
                        </div>
                        <h3 class="text-xl font-semibold mb-1 text-gray-100 group-hover:text-gray-400 transition-colors">
                            {service.title}
                        </h3>
                        <p class="text-gray-400 text-sm">{service.description}</p>
                    </div>
            ))}
        </div>
    </div>
</section>